@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
}

.df {
  display: flex;
  align-items: center;
}

main {
  padding-top: 90px;
}

.back-top {
  position: fixed;
  width: 35px;
  height: 35px;
  font-size: 20px;
  bottom: 50px;
  right: 50px;
  background: #46a358;
  border-radius: 50%;
  color: #ffffff;
  display: none;
  justify-content: center;
  align-items: center;
}

.show__back-top {
  display: flex;
}

.dropdown {
  position: relative;
  padding: 8px;
  display: inline-block;
  cursor: pointer;
}
.dropdown__text {
  font-size: 16px;
  font-weight: 500;
}
.dropdown__icon {
  font-size: 14px;
  display: inline-block;
  transition: 0.8s;
}
.dropdown__list {
  position: absolute;
  width: 100%;
  top: 110%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  transform: scale(0);
  z-index: 999;
  display: flex;
  flex-direction: column;
}
.dropdown__list__item {
  border-radius: 2px;
  padding: 5px;
}
.dropdown__list__item:hover {
  background: #46a358;
  color: #ffffff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding-bottom: 10px;
  background: #fff;
  transition: 0.5s;
  color: #000;
}
.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__navbar__btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo {
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
}
.header__list {
  gap: 32px;
}
.header__item {
  padding: 22px 0;
  transition: 0.4s;
  border-top: 2px solid transparent;
}
.header__item:hover {
  color: #46a358;
  border-color: #46a358;
}
.header__item__link {
  font-size: 16px;
  font-weight: 500;
}
.header__item--sign {
  display: flex;
  gap: 8px;
  align-items: center;
}
.header__btn__sigin {
  font-size: 16px;
  color: #ffffff;
  transition: 0.4s;
  padding: 10px 20px;
  background-color: #46a358;
  border-radius: 5px;
}
.header__btn__sigin:hover {
  color: #ffffff;
}
.header__item--close {
  font-size: 20px;
  color: red;
  display: none;
  cursor: pointer;
}
.header__hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: transparent;
}
.header__hamburger span {
  width: 25px;
  height: 3px;
  background: #000;
  border-radius: 2px;
}

.show__header__shrink {
  padding: 2px 0px;
  box-shadow: 0px 0px 5px #46a358;
}

.header__input {
  position: relative;
}

.input__search {
  padding: 10px;
  height: 35px;
  border: 2px solid grey;
  border-radius: 5px;
}

.search__btn {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 18px;
}

#select {
  padding: 5px 10px;
  font-size: 18px;
}

@media (max-width: 900px) {
  .header {
    padding-top: 10px;
  }
  .header__list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    background: #46a358;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    box-shadow: 0px 0px 10px #46a358;
    transition: 0.5s;
    z-index: 9999;
  }
  .header__hamburger {
    display: flex;
  }
  .header__show__list {
    left: 0;
  }
  .header__item--close {
    position: absolute;
    display: block;
    color: red;
    top: 15px;
    right: 20px;
  }
  .header__show__left {
    left: -100%;
  }
}
@media screen and (max-width: 550px) {
  .header__navbar {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 340px) {
  .header__list {
    width: 80%;
  }
}
.global-btn {
  padding: 20px 68px 20px 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  color: #ffffff;
  border: none;
  transition: 0.4s;
  background-color: #444cfc;
  background-image: url(../../images/global-right-shape.png), url(../../images/global-shape.svg);
  background-repeat: no-repeat;
  background-position: center right 30px, top left;
}

.hero__container {
  display: flex;
  align-items: center;
}
.hero__left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.hero__desc {
  font-size: 14px;
  color: #3d3d3d;
  font-weight: 500;
}
.hero__title {
  text-transform: uppercase;
  width: 70%;
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
}
.hero__title span {
  color: #46a358;
}
.hero__text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
}
.hero__btn {
  margin-bottom: 50px;
  padding: 8px 26px;
  background: #46a358;
  color: #fff;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: 0.4s;
}
.hero__btn:hover {
  background: #fff;
  border: 2px solid #46a358;
  color: #46a358;
}
.hero__right {
  width: 60%;
}
.hero__right img {
  width: 100%;
}

@media screen and (max-width: 1290px) {
  .hero__title {
    width: 100%;
  }
}
@media screen and (max-width: 1150px) {
  .hero__title {
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
  }
  .hero__right {
    width: 80%;
  }
}
@media screen and (max-width: 950px) {
  .hero__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
  }
}
@media screen and (max-width: 850px) {
  .hero__container {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 550px) {
  .hero__right {
    padding-top: 100px;
  }
}
.footer .footer__top {
  background: rgba(70, 163, 88, 0.1019607843);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  gap: 50px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 50px;
  flex-wrap: wrap;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__socials__icons {
  display: flex;
  gap: 20px;
}

.module {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 500px;
  background: #f1f1f1;
  z-index: 999;
  padding: 100px 50px;
  border-radius: 20px;
}
.module__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.module__title {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 20px;
  font-size: 20px;
}
.module input {
  width: 70%;
  padding: 8px;
  outline: none;
  border: none;
}
.module__error {
  color: crimson;
  display: flex;
  justify-content: center;
  opacity: 0;
}
.module__btn {
  width: 70%;
  background: #46a358;
  padding: 8px;
}
.module__back-btn {
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 20px;
  color: #46a358;
}

main {
  padding-bottom: 50px;
}

.admin__input {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.admin__title {
  padding-top: 50px;
}

.admin__form {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}
.admin__form input {
  padding: 5px;
  width: 100%;
  height: 25px;
  outline: none;
}

.admin__logout {
  padding-top: 20px;
  font-size: 20px;
  color: #46a358;
}

.admin__form_btns {
  height: 40px;
  display: flex;
  gap: 20px;
}

.admin__form_btn {
  padding: 10px;
  background: #46a358;
  border-radius: 10px;
  color: #fff;
}

.admin__paswords {
  width: 50%;
}

input {
  padding: 5px;
  width: 100%;
  height: 25px;
  outline: none;
}

@media screen and (max-width: 750px) {
  .admin__form {
    margin: 20px 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .admin__input {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .admin__paswords {
    width: 100%;
  }
}
.cards,
.loading {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 100px;
  gap: 40px;
  padding-bottom: 100px;
}

.loading__title {
  padding: 5px 10px;
}

.card,
.loading__item {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
}
.card__top,
.loading__item__top {
  filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 20px;
  transition: 0.2s;
}
.card__top:hover,
.loading__item__top:hover {
  filter: blur(0px);
}
.card__top img,
.loading__item__top img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  cursor: pointer;
}
.card__bottom,
.loading__item__bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}
.card__price,
.loading__item__price {
  color: #46a358;
  margin-bottom: 20px;
  font-size: 20px;
}
.card__see-more,
.loading__item__see-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #46a358;
  color: #ffffff;
  margin-bottom: 100px;
}

.bg__animation {
  background: linear-gradient(90deg, #eee, #ddd, #eee);
  background-size: 200%;
  animation: bgMove 1s linear 0s infinite;
}

@keyframes bgMove {
  to {
    background-position: 200%;
  }
}
@media (max-width: 1150px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 630px) {
  .cards {
    grid-template-columns: repeat(1, 80%);
    justify-content: center;
  }
}
.single__container {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single__content {
  display: flex;
  align-items: center;
  gap: 100px;
}

.data__title {
  font-size: 45px;
}

.card__span {
  font-weight: 700;
  font-size: 20px;
}

.card__desc {
  width: 30%;
}

.card__price {
  color: #46a358;
}

@media screen and (max-width: 1000px) {
  .single__content {
    flex-direction: column;
  }
}